.banneralert{
	/*position:fixed;
	  width:100%;
	  left:0;
	Add by js */
	text-align:center;
	background:#000;/* for IE8- */
	background:rgba(0,0,0,0.5);
}
.banneralert .bannercontainer{
	font-size:20px;
	margin:2px 8px;/* Do not use padding in ".banneralert", use margin here. */
}
.banneralert .bannertitlebar{
	color:red;
	font-weight:bold;
	margin-bottom:5px;
}
.banneralert .bannericon{
	height:16px;
	width:16px;
	margin-right:7px;
	vertical-align:middle;
}
.banneralert .bannercontent{
	color:#FFF;
	font-size:16px;
}
.banneralert .bannerhandle{
	text-align:center;
	height:6px;
	width:35px;
	background:#999;
	border-radius:3px;
	margin:3px auto;
	cursor:hand;/* for IE6- */
	cursor:pointer;
}